{% extends "web/base.html" %}
{% load static %}

{% block titulo %} Cadastrar Local
{% endblock %}

{% block pagina %}
    <a class="way-a" href="{% url 'dashboard' %}">Dashboard</a>
    <i class="fa fa-angle-right"></i>
    <a class="way-a" href="{% url 'listar_locais' %}">Locais</a>
    <i class="fa fa-angle-right"></i>
    <span class="way-span">Cadastrar</span>
{% endblock %}

{% block css %}
{% endblock %}

{% block conteudo %}
<!--faq-->
<div class="blank">
        <div class="col-md-4 col-md-offset-4">
            <div class="grid-form1">
            <h4 id="forms-example" style="text-align:center;">Cadastrar Local</h4>

            <form action="" method="post" class="form-inline">
                {% csrf_token %}
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.descricao.label_tag }}
                        <div class="input-group">
                            {{ form.descricao}}
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button class="btn-primary btn">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!--//faq-->
{% endblock %}

{% block scripts %}
{% endblock %}

